<!-- Begin page content -->
<div class="container">
	<div class="col-md-12">
			    <div class="page-header">
		            <h1>
		                Country Origin
		            </h1>
		        </div>
		       	<button class="btn btn-success pull-right" ng-click="openCountryForm(null)">
                	<span class="glyphicon glyphicon-plus"></span> Create
            	</button>
           		<form class="form-inline">
					<div class="form-group">
						<label>Search</label>
						<input type="text" ng-model="search" class="form-control" placeholder="Search">
					</div>
				</form>
	           <div class="table-responsive">
	               <table id="mytable" class="table table-bordred table-striped">
	                   <thead>
	                   <th>Country Origin ID</th>
	                   <th>Country Origin Name</th>
	                   <th>Country Code</th>
	                   <th>Is Active</th>
	                   <th>Edit</th>
	                   <th>Delete</th>
	                   </thead>
	                   <tbody>
	
	                   <tr ng-click="openCountryForm(country)" dir-paginate = "country in countrys | filter:search | itemsPerPage:5">
	                       <td>{{country.id}}</td>
	                       <td>{{country.cntryDesc}}</td>
	                       <td>{{country.cntryCode}}</td>
	                       <td>{{country.isActive}}</td>
	                       <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
	                       <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
	                   </tr>
	
	                   </tbody>
	
	               </table>
	
	               <div class="clearfix"></div>
	               	
	           </div>
				
				<div class="text-center">
					<dir-pagination-controls boundary-links="true" ></dir-pagination-controls>
				</div>
	</div>
</div>

<script type="text/ng-template" id="countryForm.html">
    <div>
		<div class="modal-header">
		<h3 class="modal-title">Country Orgin</h3>
		</div>
		<div class="modal-body">
			<form>
	
				<div class="form-group">
					<label for="recipient-name" class="control-label">Country Name</label>
					<input type="text" class="form-control" ng-model="country.cntryDesc">
				</div>
				<div class="form-group">
					<label for="recipient-name" class="control-label">Country Code</label>
					<input type="text" class="form-control" ng-model="country.cntryCode">
				</div>
				<div class="form-group">
					<label for="message-text" class="control-label">Is Active
					<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="country.isActive">
					</label>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary"  ng-show="mode.update" ng-click="submit(country)">Save</button>
			<button class="btn btn-primary"  ng-show="mode.create" ng-click="submit(country)">Create</button>
			<button class="btn btn-warning"  ng-click="cancle()" >Cancel</button>
		</div>
    </div>            
</script>